In [12]:
## Excercici diapo 32 w3schools
import pandas as pd

#--------------------------------- llegeix arxiu
f = open('./dat/w3_data.csv', "r", encoding="UTF-8")
data = f.read()
f.close()

data = data.replace(",\n", "\n")
data = data.replace("'", "")
data = data.replace("NaN", "")
if data[-1] == ",":
    data = data[:-1]
#--------------------------------- Grava arxiu
f = open('./dat/w3_data_new.csv', "w", encoding="UTF-8")
f.write(data)
f.close()

In [13]:
df = pd.read_csv('./dat/w3_data_new.csv')
df

    Num    Duration            Date    Pulse    Maxpulse   Calories
0     0           60    2020/12/01       110         130      409.1
1     1           60    2020/12/02       117         145      479.0
2     2           60    2020/12/03       103         135      340.0
3     3           45    2020/12/04       109         175      282.4
4     4           45    2020/12/05       117         148      406.0
5     5           60    2020/12/06       102         127      300.0
6     6           60    2020/12/07       110         136      374.0
7     7          450    2020/12/08       104         134      253.3
8     8           30    2020/12/09       109         133      195.1
9     9           60    2020/12/10        98         124      269.0
10   10           60    2020/12/11       103         147      329.3
11   11           60    2020/12/12       100         120      250.7
12   12           60    2020/12/12       100         120      250.7
13   13           60    2020/12/13       106         128      345.3
14   14           60    2020/12/14       104         132      379.3
15   15           60    2020/12/15        98         123      275.0
16   16           60    2020/12/16        98         120      215.2
17   17           60    2020/12/17       100         120      300.0
18   18           45    2020/12/18        90         112
19   19           60    2020/12/19       103         123      323.0
20   20           45    2020/12/20        97         125      243.0
21   21           60    2020/12/21       108         131      364.2
22   22           45                     100         119      282.0
23   23           60    2020/12/23       130         101      300.0
24   24           45    2020/12/24       105         132      246.0
25   25           60    2020/12/25       102         126      334.5
26   26           60    2020/12/26       100         120      250.0
27   27           60    2020/12/27        92         118      241.0
28   28           60    2020/12/28       103         132
29   29           60    2020/12/29       100         132      280.0
30   30           60    2020/12/30       102         129      380.3
31   31           60    2020/12/31        92         115      243.0

In [14]:
# Eliminar els espais dels noms de les columnes
# usant un diccionari amb el nom incorrecte : nom correcte
cols = df.columns.values.tolist()
d = dict()
for column in cols :
    d[column] = column.strip()
    
print(d)
df = df.rename(columns=d)

{'Num': 'Num', '  Duration ': 'Duration', 'Date  ': 'Date', 'Pulse': 'Pulse', '  Maxpulse': 'Maxpulse', '  Calories': 'Calories'}

In [15]:
# Quins tipus de columnes tenim ?  Compte tenim columnes de tipus erroni.
df.dtypes

Num          int64
Duration     int64
Date        object
Pulse        int64
Maxpulse     int64
Calories    object
dtype: object

In [16]:
df.describe()

             Num    Duration       Pulse    Maxpulse
count  32.000000   32.000000   32.000000   32.000000
mean   15.500000   68.437500  103.500000  128.500000
std     9.380832   70.039591    7.832933   12.998759
min     0.000000   30.000000   90.000000  101.000000
25%     7.750000   60.000000  100.000000  120.000000
50%    15.500000   60.000000  102.500000  127.500000
75%    23.250000   60.000000  106.500000  132.250000
max    31.000000  450.000000  130.000000  175.000000

In [17]:
# Metode 1 :Anem a arreglar la columna de Calories
df.Calories = pd.to_numeric(df.Calories, errors='coerce')
df

    Num  Duration             Date  Pulse  Maxpulse  Calories
0     0        60    2020/12/01       110       130     409.1
1     1        60    2020/12/02       117       145     479.0
2     2        60    2020/12/03       103       135     340.0
3     3        45    2020/12/04       109       175     282.4
4     4        45    2020/12/05       117       148     406.0
5     5        60    2020/12/06       102       127     300.0
6     6        60    2020/12/07       110       136     374.0
7     7       450    2020/12/08       104       134     253.3
8     8        30    2020/12/09       109       133     195.1
9     9        60    2020/12/10        98       124     269.0
10   10        60    2020/12/11       103       147     329.3
11   11        60    2020/12/12       100       120     250.7
12   12        60    2020/12/12       100       120     250.7
13   13        60    2020/12/13       106       128     345.3
14   14        60    2020/12/14       104       132     379.3
15   15        60    2020/12/15        98       123     275.0
16   16        60    2020/12/16        98       120     215.2
17   17        60    2020/12/17       100       120     300.0
18   18        45    2020/12/18        90       112       NaN
19   19        60    2020/12/19       103       123     323.0
20   20        45    2020/12/20        97       125     243.0
21   21        60    2020/12/21       108       131     364.2
22   22        45                     100       119     282.0
23   23        60    2020/12/23       130       101     300.0
24   24        45    2020/12/24       105       132     246.0
25   25        60    2020/12/25       102       126     334.5
26   26        60    2020/12/26       100       120     250.0
27   27        60    2020/12/27        92       118     241.0
28   28        60    2020/12/28       103       132       NaN
29   29        60    2020/12/29       100       132     280.0
30   30        60    2020/12/30       102       129     380.3
31   31        60    2020/12/31        92       115     243.0

In [20]:
# Es rremplenen els nulls amb la mitja de les calories
df.Calories.fillna(df.Calories.mean(), inplace=True)
df

    Num  Duration       Date  Pulse  Maxpulse  Calories
0     0        60 2020-12-01    110       130    409.10
1     1        60 2020-12-02    117       145    479.00
2     2        60 2020-12-03    103       135    340.00
3     3        45 2020-12-04    109       175    282.40
4     4        45 2020-12-05    117       148    406.00
5     5        60 2020-12-06    102       127    300.00
6     6        60 2020-12-07    110       136    374.00
7     7       450 2020-12-08    104       134    253.30
8     8        30 2020-12-09    109       133    195.10
9     9        60 2020-12-10     98       124    269.00
10   10        60 2020-12-11    103       147    329.30
11   11        60 2020-12-12    100       120    250.70
12   12        60 2020-12-12    100       120    250.70
13   13        60 2020-12-13    106       128    345.30
14   14        60 2020-12-14    104       132    379.30
15   15        60 2020-12-15     98       123    275.00
16   16        60 2020-12-16     98       120    215.20
17   17        60 2020-12-17    100       120    300.00
18   18        45 2020-12-18     90       112    304.68
19   19        60 2020-12-19    103       123    323.00
20   20        45 2020-12-20     97       125    243.00
21   21        60 2020-12-21    108       131    364.20
22   22        45 2020-12-22    100       119    282.00
23   23        60 2020-12-23    130       101    300.00
24   24        45 2020-12-24    105       132    246.00
25   25        60 2020-12-25    102       126    334.50
26   26        60 2020-12-26    100       120    250.00
27   27        60 2020-12-27     92       118    241.00
28   28        60 2020-12-28    103       132    304.68
29   29        60 2020-12-29    100       132    280.00
30   30        60 2020-12-30    102       129    380.30
31   31        60 2020-12-31     92       115    243.00

In [18]:
# Metode 1 :Anem a arreglar la columna de Date
df.loc[22, 'Date'] = '2020-12-22'
df.Date = pd.to_datetime(df.Date, errors='coerce')
df

    Num  Duration       Date  Pulse  Maxpulse  Calories
0     0        60 2020-12-01    110       130     409.1
1     1        60 2020-12-02    117       145     479.0
2     2        60 2020-12-03    103       135     340.0
3     3        45 2020-12-04    109       175     282.4
4     4        45 2020-12-05    117       148     406.0
5     5        60 2020-12-06    102       127     300.0
6     6        60 2020-12-07    110       136     374.0
7     7       450 2020-12-08    104       134     253.3
8     8        30 2020-12-09    109       133     195.1
9     9        60 2020-12-10     98       124     269.0
10   10        60 2020-12-11    103       147     329.3
11   11        60 2020-12-12    100       120     250.7
12   12        60 2020-12-12    100       120     250.7
13   13        60 2020-12-13    106       128     345.3
14   14        60 2020-12-14    104       132     379.3
15   15        60 2020-12-15     98       123     275.0
16   16        60 2020-12-16     98       120     215.2
17   17        60 2020-12-17    100       120     300.0
18   18        45 2020-12-18     90       112       NaN
19   19        60 2020-12-19    103       123     323.0
20   20        45 2020-12-20     97       125     243.0
21   21        60 2020-12-21    108       131     364.2
22   22        45 2020-12-22    100       119     282.0
23   23        60 2020-12-23    130       101     300.0
24   24        45 2020-12-24    105       132     246.0
25   25        60 2020-12-25    102       126     334.5
26   26        60 2020-12-26    100       120     250.0
27   27        60 2020-12-27     92       118     241.0
28   28        60 2020-12-28    103       132       NaN
29   29        60 2020-12-29    100       132     280.0
30   30        60 2020-12-30    102       129     380.3
31   31        60 2020-12-31     92       115     243.0

In [19]:
df.dtypes
# Ara s que tenim els tipus correctes

Num                  int64
Duration             int64
Date        datetime64[ns]
Pulse                int64
Maxpulse             int64
Calories           float64
dtype: object

In [21]:
# Valors fora de rang, posem el mxim
for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.loc[x, "Duration"] = 120
df

    Num  Duration       Date  Pulse  Maxpulse  Calories
0     0        60 2020-12-01    110       130    409.10
1     1        60 2020-12-02    117       145    479.00
2     2        60 2020-12-03    103       135    340.00
3     3        45 2020-12-04    109       175    282.40
4     4        45 2020-12-05    117       148    406.00
5     5        60 2020-12-06    102       127    300.00
6     6        60 2020-12-07    110       136    374.00
7     7       120 2020-12-08    104       134    253.30
8     8        30 2020-12-09    109       133    195.10
9     9        60 2020-12-10     98       124    269.00
10   10        60 2020-12-11    103       147    329.30
11   11        60 2020-12-12    100       120    250.70
12   12        60 2020-12-12    100       120    250.70
13   13        60 2020-12-13    106       128    345.30
14   14        60 2020-12-14    104       132    379.30
15   15        60 2020-12-15     98       123    275.00
16   16        60 2020-12-16     98       120    215.20
17   17        60 2020-12-17    100       120    300.00
18   18        45 2020-12-18     90       112    304.68
19   19        60 2020-12-19    103       123    323.00
20   20        45 2020-12-20     97       125    243.00
21   21        60 2020-12-21    108       131    364.20
22   22        45 2020-12-22    100       119    282.00
23   23        60 2020-12-23    130       101    300.00
24   24        45 2020-12-24    105       132    246.00
25   25        60 2020-12-25    102       126    334.50
26   26        60 2020-12-26    100       120    250.00
27   27        60 2020-12-27     92       118    241.00
28   28        60 2020-12-28    103       132    304.68
29   29        60 2020-12-29    100       132    280.00
30   30        60 2020-12-30    102       129    380.30
31   31        60 2020-12-31     92       115    243.00

In [22]:
# Mirem si hi ha linies duplicades
print(df[df['Date'].duplicated()])

    Num  Duration       Date  Pulse  Maxpulse  Calories
12   12        60 2020-12-12    100       120     250.7

In [175]:
# Eliminem la linia duplicada
df = df.drop(labels=12, axis=0)

In [24]:
df
# Ja est tot correcte

    Num  Duration       Date  Pulse  Maxpulse  Calories
0     0        60 2020-12-01    110       130    409.10
1     1        60 2020-12-02    117       145    479.00
2     2        60 2020-12-03    103       135    340.00
3     3        45 2020-12-04    109       175    282.40
4     4        45 2020-12-05    117       148    406.00
5     5        60 2020-12-06    102       127    300.00
6     6        60 2020-12-07    110       136    374.00
7     7       120 2020-12-08    104       134    253.30
8     8        30 2020-12-09    109       133    195.10
9     9        60 2020-12-10     98       124    269.00
10   10        60 2020-12-11    103       147    329.30
11   11        60 2020-12-12    100       120    250.70
12   12        60 2020-12-12    100       120    250.70
13   13        60 2020-12-13    106       128    345.30
14   14        60 2020-12-14    104       132    379.30
15   15        60 2020-12-15     98       123    275.00
16   16        60 2020-12-16     98       120    215.20
17   17        60 2020-12-17    100       120    300.00
18   18        45 2020-12-18     90       112    304.68
19   19        60 2020-12-19    103       123    323.00
20   20        45 2020-12-20     97       125    243.00
21   21        60 2020-12-21    108       131    364.20
22   22        45 2020-12-22    100       119    282.00
23   23        60 2020-12-23    130       101    300.00
24   24        45 2020-12-24    105       132    246.00
25   25        60 2020-12-25    102       126    334.50
26   26        60 2020-12-26    100       120    250.00
27   27        60 2020-12-27     92       118    241.00
28   28        60 2020-12-28    103       132    304.68
29   29        60 2020-12-29    100       132    280.00
30   30        60 2020-12-30    102       129    380.30
31   31        60 2020-12-31     92       115    243.00